/*分类条*/

.d-wrap {
  width: 1200px;
  margin: 0 auto;
  margin-top: 29px;
}

.classify-box {
  border: 1px solid #ededed;
}

.classify-list {
  height: 34px;
  background: #f2f2f2;
  line-height: 34px;
  padding-left: 15px;
  li {
    float: left;
    padding: 0 15px;
    position: relative;
    border-top: 2px solid #f2f2f2;
    z-index: 100;
    a {
      color: #666;
    }
    i {
      color: #999;
    }
  }
  .active {
    background: #fafafa;
    border-color: #f33;
    a {
      color: #f33;
    }
  }
}

/*商品列表*/

.commodity-list {
  margin: 20px -25px 0 0;
  .commodity-item {
    position: relative;
    float: left;
    width: 387px;
    margin: 0 20px 20px 0;
    .commodity-item-link {
      display: block;
      border: 1px solid #ededed;
      position: relative;
      background-color: #FFF;
      overflow: hidden;
      width: 100%;
      height: 450px;
      text-decoration: none;
      cursor: pointer;
      &:hover {
        border-color: #f33;
      }
    }
    .pic-img {
      display: block;
      width: 100%;
      height: 290px;
      overflow: hidden;
      margin: 0 auto;
      img {
        display: block;
        position: relative;
        max-width: 100%;
        height: 290px;
        text-align: center;
        margin: 0 auto;
        vertical-align: middle;
      }
    }
    .item-info {
      display: block;
      text-align: left;
      padding: 12px 0 10px;
      margin: 0 15px;
      border-bottom: 1px dashed #dedede;
      .item-name {
        display: block;
        height: 22px;
        line-height: 22px;
        color: #333;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 2px;
      }
      .item-intro {
        display: block;
        height: 14px;
        line-height: 12px;
        color: #999999;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .item-detail-left {
        float: left;
        margin-top: 10px;
      }
      .item-detail .item-price {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        font-size: 0;
        vertical-align: middle;
        height: 40px;
        line-height: 28px;
      }
    }
  }
}

.item-info .item-detail {
  .item-price > span {
    &.xj-price {
      color: #c31f1e;
      font-size: 26px;
      font-weight: 700;
      margin-right: 8px;
    }
    &.yj-price {
      color: #999999;
      font-size: 14px;
      font-weight: normal;
      margin-right: 8px;
      text-decoration: line-through;
    }
  }
  .ls-price {
    padding: 0 5px;
    height: 20px;
    color: #c31f1e;
    border: 1px solid #c31f1e;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }
}

.commodity-list .commodity-item {
  .item-info .item-detail .item-btn {
    float: right;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    font-size: 18px;
    background: #c31f1e;
    color: #fff;
    padding: 0 15px;
  }
  .show-time {
    padding: 14px 15px 14px 35px;
    position: relative;
    background: url('http://icon.zol-img.com.cn/newtuan/tuan_detail/showTime.png') no-repeat 15px center;
    .countdown {
      font-size: 14px;
      color: #666;
    }
  }
}

.pic-img a {
  display: block;
  width: 100%;
  height: 290px;
  position: relative;
}

.item-desc a {
  display: block;
  position: relative;
  &:hover {
    text-decoration: none;
  }
}
/*页码*/

.page {
  text-align: center;
  margin-top: 20px;
  span, a {
    text-align: center;
    font-size: 14px;
    margin-right: 4px;
    color: #333;
    padding: 6px 11px 7px;
    border: 1px solid #e6e6e6;
  }
  .sel {
    background: #c00;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-right: 4px;
    padding: 6px 11px 7px;
    border: 1px solid #c00;
  }
  span:hover {
    border-color: #c00;
  }
  a:hover {
    border-color: #c00;
    text-decoration: none;
  }
}