body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr {
  margin: 0;
  padding: 0; }

body {
  font: 12px/1.5 Arial;
  color: #333; }

select, input, button {
  vertical-align: middle;
  font-size: 100%; }

ul, ol {
  list-style: none; }

fieldset, img {
  border: 0; }

em {
  font-style: normal; }

.clearfix {
  *zoom: 1; }
  .clearfix:after {
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0; }

/* global */
a {
  color: #134ba0;
  text-decoration: none; }
  a:hover {
    color: #c00;
    text-decoration: underline; }

.download-list a:hover, .footer .about a:hover, .header .about a:hover {
  color: #c00;
  text-decoration: underline; }

.login-index {
  background: #fafafa; }
  .login-index .footer {
    margin: 70px auto 0; }

.wrapper {
  width: 990px;
  margin: 0 auto; }

input:focus {
  outline: none; }

/* bg */
.login-layer-btn, .submit-loading {
  background: url(https://login.zol.com/image/bg.png) no-repeat; }

.login-foot .sina, .login-foot .qq, .login-foot .alipay, .login-foot .baidu {
  background: url(https://login.zol.com/image/bg.png) no-repeat; }

.login-wrong-tips, .case-tips .ico, .form-item .remove, .register-btn {
  background: url(https://login.zol.com/image/bg.png) no-repeat; }

.download-list a, .fast-login-list a, .register-tab span, .get-captcha {
  background: url(https://login.zol.com/image/login-bg.png) no-repeat; }

.register-form .right-tips, .register-form .wrong-tips {
  background: url(https://login.zol.com/image/login-bg.png) no-repeat; }

/* header */
.header {
  padding: 20px 0; }

.logo {
  float: left; }

.header .about {
  float: right;
  margin: 0 -10px 0 0;
  padding: 23px 0 0;
  color: #ccc; }
  .header .about a {
    margin: 0 10px;
    color: #666; }

/* footer */
/*.footer{ margin:50px 0 0; padding:12px 0 25px; border-top:1px solid #dcdcdc; background: #fff; position: fixed;bottom: 0;left: 0;width: 100%;}*/
.footer {
  margin: 50px 0 0;
  padding: 12px 0 25px;
  border-top: 1px solid #dcdcdc; }
  .footer .about {
    float: left;
    margin: 0 0 0 -10px;
    color: #ccc; }
    .footer .about a {
      margin: 0 10px;
      color: #666; }

.copyright {
  float: right;
  color: #666; }

/* login-wrap*/
.login-wrap {
  margin: 30px 0 0;
  border: 1px solid #e6e6e6;
  background: #fff;
  margin-top: 26px; }
  .login-wrap .ad-div {
    float: left; }
    .login-wrap .ad-div img {
      display: block; }

/*register-bar*/
.register-bar {
  float: right;
  padding: 21px 0 0;
  font-size: 14px;
  line-height: 22px;
  *width: 220px; }
  .register-bar a {
    float: right;
    height: 16px;
    padding: 3px 10px;
    color: #c00;
    font: normal 14px/14px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1"; }
    .register-bar a:hover {
      color: #fff;
      background-color: #cd1f1f;
      text-decoration: none; }

/*header*/
.header {
  padding-top: 14px; }
  .header .logo a {
    float: left; }
    .header .logo a:hover {
      color: #666;
      text-decoration: none; }
    .header .logo a img {
      float: left; }
  .header .logo p {
    float: left;
    margin: 8px 0 0 8px;
    padding-left: 10px;
    font: 14px/44px simsun;
    color: #666;
    border-left: 1px solid #e6e6e6;
    cursor: pointer; }

.login-wrap {
  margin-top: 26px; }

.login-layer {
  float: right;
  padding: 0 85px 0 0;
  width: 290px; }

.login-layer-btn, .submit-loading {
  display: block;
  margin: 0 0 10px;
  width: 290px;
  height: 40px;
  font: bold 14px/40px "Arial";
  color: #fff;
  text-align: center;
  border: 0 none;
  background-position: 0 0; }

.login-layer-btn {
  cursor: pointer; }
  .login-layer-btn:hover {
    background-position: 0 -41px; }

.login-head {
  position: relative;
  zoom: 1;
  padding: 20px 0 0; }
  .login-head h3 {
    height: 28px;
    overflow: hidden;
    font: 18px/28px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
    color: #666; }
  .login-head .reg-now {
    position: absolute;
    top: 23px;
    right: 0;
    font: 12px/28px "Arial"; }
  .login-head .otherLogin-bar {
    float: right;
    padding: 0 0 0 17px;
    background: url(https://login.zol.com/image/shop_login_bg.png) no-repeat -276px -137px;
    color: #333;
    line-height: 28px; }
  .login-head .mobileLogin-bar {
    background-position: -280px -113px; }
  .login-head .otherLogin-bar:hover {
    color: #c00; }

.login-content {
  padding: 30px 0 0;
  position: relative;
  zoom: 1; }
  .login-content .focus {
    border-color: #c00; }
